@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  background: linear-gradient(to right, #ffd6ae 0%, #ffffff 50%, #b3ffac 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

